# How to use this API

by Lingyi Zhang

#### In this example, we query data of LA County

In [1]:
from __future__ import print_function
import json
try:
    import urllib2 as urllib
except ImportError:
    import urllib.request as urllib

## Let's try one single point first

In [2]:
var_lon = str(-118.159953387143)
var_lat = str(33.8719625444075)

In [3]:
url = "https://d5tgnm602g.execute-api.us-east-1.amazonaws.com/beta/la?long="\
      + var_lon + "&lati=" + var_lat

In [4]:
response = urllib.urlopen(url)
data = response.read()
data_json = json.loads(data)   #change to json format
data_json

[{'area_code': '817.000000000',
  'area_name': 'LONG BEACH AREA',
  'bg10': '5702042',
  'cb10': '2006',
  'city': 'Long Beach',
  'ct10': '570204',
  'dist_cong': '44.0000000000',
  'dist_stass': '63.0000000000',
  'dist_stsen': '33.0000000000',
  'dist_sup': '4.00000000000',
  'gid': 322903,
  'hd_2012': '40',
  'hd_name': 'Long Beach',
  'la_fip10': '43000',
  'name': 'Long Beach Police',
  'name_1': 'Long Beach',
  'prc_name': 'LONG BEACH',
  'precinct': '3850029A',
  'puma10': '03763',
  'rd': '48-2',
  'shape_area': '466.321237884',
  'shape_leng': '387.348209943',
  'the_geom': '0106000020E61000000100000001030000000100000005000000E7A821AD3C8A5DC09BC8F9779CEF40404C2CDFD63C8A5DC0F803AD779CEF4040D01242D13C8A5DC01A70D0AFADEF4040674A9DB73C8A5DC03A9CE9AFADEF4040E7A821AD3C8A5DC09BC8F9779CEF4040',
  'zcta10': '90805'}]

In [5]:
#extract the puma10 for example
data_json[0]['puma10']

'03763'

## Query 5 points

In [6]:
import numpy as np
import pandas as pd

In [7]:
#5 points in LA county
points = [(-118.281503, 34.383769),
          (-118.352919, 34.012348),
          (-118.159848, 33.826203),
          (-118.062350, 33.960715),
          (-118.159953387143, 33.8719625444075)]
labels = ['longitude', 'latitude']
df_quer = pd.DataFrame.from_records(points, columns=labels)
df_quer

    longitude   latitude
0 -118.281503  34.383769
1 -118.352919  34.012348
2 -118.159848  33.826203
3 -118.062350  33.960715
4 -118.159953  33.871963

In [8]:
#Query the API
resultlist = []
for i in range(len(df_quer)):
    var_lon = str(df_quer.iloc[i].longitude)
    var_lat = str(df_quer.iloc[i].latitude)
    
    url = "https://d5tgnm602g.execute-api.us-east-1.amazonaws.com/beta/la?long="\
      + var_lon + "&lati=" + var_lat
    
    data = urllib.urlopen(url).read()
    print("Query point {} ...".format(i+1))
    data_json = json.loads(data)
    resultlist.append(data_json[0])

df = pd.DataFrame(resultlist)

Query point 1 ...
Query point 2 ...
Query point 3 ...
Query point 4 ...
Query point 5 ...

In [9]:
df

,area_code,area_name,bg10,cb10,city,ct10,dist_cong,dist_stass,dist_stsen,dist_sup,...,name,name_1,prc_name,precinct,puma10,rd,shape_area,shape_leng,the_geom,zcta10
0,820.000000000,ANTELOPE VALLEY,9302002,2012,Unincorporated,930200,25.0000000000,36.0000000000,25.0000000000,5.00000000000,...,Crescenta Valley Sheriff,Angeles National Forest,ACTON,0050025C,03701,1256,62410553.1831,43998.0247855,0106000020E6100000010000000103000000010000001D...,91387
1,801.000000000,ADAMS AREA,2362022,2001,Los Angeles,236202,37.0000000000,54.0000000000,30.0000000000,2.00000000000,...,LAPD Southwest Division,Crenshaw,LOS ANGELES,9002110C,03747,0361,95934.4321904,1683.74957954,0106000020E61000000200000001030000000100000005...,90008
2,817.000000000,LONG BEACH AREA,9800181,1001,Long Beach,980018,47.0000000000,70.0000000000,33.0000000000,4.00000000000,...,Long Beach Police,Long Beach,LONG BEACH,3850067D,03765,470,1171119.99084,5261.25374460,0106000020E6100000010000000103000000010000001C...,90807
3,834.000000000,WHITTIER AREA,5027002,2012,Santa Fe Springs,502700,38.0000000000,57.0000000000,32.0000000000,4.00000000000,...,Whittier Police,Santa Fe Springs,SANTA FE SPRINGS,6230011A,03754,1,1703893.38661,5563.81243254,0106000020E61000000100000001030000000100000022...,90670
4,817.000000000,LONG BEACH AREA,5702042,2006,Long Beach,570204,44.0000000000,63.0000000000,33.0000000000,4.00000000000,...,Long Beach Police,Long Beach,LONG BEACH,3850029E,03763,52-2,181621.878159,1845.37491686,0106000020E61000000100000001030000000100000008...,90805